<a href="https://colab.research.google.com/github/pythoncoder100/practice/blob/master/Including_more_data_attributes_to_child_class_using_super().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Adult:
  def __init__(self, name, height,weight):
    self.name = name
    self.weight = weight
    self.height = height

  def description(self):
    print("I am an Adult")

In [10]:
class Cricketer(Adult):
 def __init__(self,name, height,weight,age):
   super().__init__(name, height,weight)
   self.age=age

In [11]:
object1 = Cricketer("Tom",168, 65,22)
object1.age

22